
th { background: #c5c5c5;}
table {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
        font: normal 12px arial;
        width: 100%;
}
td, th { border: 1px solid #cdcdcd; padding: 2px;}

.cls-toggle-view{
  margin-left: auto;
  margin-top: 20px;
}
